/* Accueil */

body
{
	width: 100%;
	height: 100%;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.chrono
{
	position: relative;
	top: 145px;
	z-index: 1;
	display: inline-block;

	padding: 24px 0;
	width: 90px;
	@include box-sizing(border-box);

	font-size: 0.45em;
	color: $text-black;

	background-color: $texte;
	@include border-radius(100px);
	@include box-shadow(1px 1px 5px $shadow-color);
}

article
{
	position: fixed;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: 0;

	padding: 20px 0;
}

.nom
{
	padding: 10px 15px;
}

.score
{
	padding: 10px 0;
	font-size: 4em;
}

.actions
{
	position: fixed;
	bottom: 0;
	font-size: 2em;
	height: 80px;
	width: 50%;
	padding: 0 6%;
	@include box-sizing(border-box);

	span
	{
		display: inline-block;
	}

	.joueurs
	{
		height: 35px;
		width: 35px;
		position: relative;
		bottom: 13px;
		background-image: url(../images/joueurs.png);
		background-size: contain;
	}
}

.moins
{
	float: left;
}

.plus
{
	float: right;
}