/* Equipes */

.nom-change
{
	padding: 8px 15px;
	background-color: inherit;
	color: inherit;
	font-size: inherit;
	border: 2px $texte solid;
	@include box-shadow(inset 1px 1px 3px $shadow-color, 1px 1px 3px $shadow-color);
	margin: 0 10%;
	width: 80%;
	@include box-sizing(border-box);
	text-align: center;
	text-shadow: 2px 2px 5px $shadow-color;
}

.numero-change
{
	display: inline-block;
	padding: 8px 5px;
	background-color: inherit;
	color: inherit;
	font-size: inherit;
	border: 2px $text-black solid;
	@include box-shadow(inset 1px 1px 3px $shadow-color, 1px 1px 3px $shadow-color);
	margin: 0 15px;
	width: 100px;
	@include box-sizing(border-box);
	text-align: center;
	text-shadow: 2px 2px 5px $shadow-color;
}

.team-1
{
	left: 0;

	.actions
	{
		left: 0;
	}
}

.team-2
{
	right: 0;

	.actions
	{
		right: 0;
	}
}

.joueurs-detail
{
	position: relative;
	width: 100%;
	margin: 10px 0;
	max-height: 160px;
	padding: 5px 55px;
	@include box-sizing(border-box);

	font-size: 0.5em;
	text-align: left;
	overflow-y: scroll;
	z-index: 3;
}

.joueur
{
	display: inline-block;
	width: 100%;
	border: 1px $texte dashed;
	padding: 5px 0 0 0;
	margin: 0 0 15px 0;
	@include border-radius(6px);
	@include box-sizing(border-box);
}

.actions-joueur
{
	display: block;
	text-align: center;
}

.edit
{
	display: inline-block;
	height: 27px;
	width: 27px;
	background-image: url(../images/options.png);
	background-size: contain;
	cursor: pointer;
}

.delete
{
	display: inline-block;
<<<<<<< HEAD
	font-size: 45px;
	line-height: 10px;
=======
	font-size: 54px;
	line-height: 20px;
	position: relative;
	top: 9px;
>>>>>>> FETCH_HEAD
	cursor: pointer;

	&:hover, &:focus, &:active
	{
		color: red;
	}
}

.carton
{
	display: inline-block;
	height: 20px;
	width: 14px;
	position: relative;
	bottom: 3px;
	background-color: $texte;
	margin: 0 3px;
	@include box-shadow(1px 1px 3px $shadow-color);
	cursor: pointer;
}

.out
{
	display: inline-block;
	height: 25px;
	width: 25px;
	position: relative;
	left: 3px;
	bottom: 1px;
	background-image: url(../images/out.png);
	background-size: contain;
	cursor: pointer;
}

.numero
{
	display: block;
	text-align: center;
	width: 100%;
	font-weight: 900;
}

.color-picker
{
	text-align: center;
	padding: 0 0 10px 0;
}

.color-pickable
{
	width: 23px;
	height: 23px;
	border-radius: 300px;
	display: inline-block;
	@include box-shadow(1px 1px 3px $shadow-color);
	cursor: pointer;
}

.add-joueur
{
	cursor: pointer;
}