/* Options */

.orange
{
	background-color: $orange;
}

.bleu-clair
{
	background-color: $bleu-clair;
}

.vert-clair
{
	background-color: $vert-clair;
}

.jaune
{
	background-color: $jaune;
}

.mauve
{
	background-color: $mauve;
}

.bleu-fonce
{
	background-color: $bleu-fonce;
}

.vert-fonce
{
	background-color: $vert-fonce;
}